:root {
    --font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
}

html {
    font-size: 26.6666vw;
}

body {
    background: #f8f8f8; //自然背景灰
    font-family: var(--font-family);

    // 移动端优化
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
}

input,
textarea {
    font-size: 0.16rem;
    /* iOS 不会缩放 16px 以上的字体 */
}