@font-face {
  font-family: "iconfont";
  /* Project id 5064721 */
  src: url('../assets/iconfonts/iconfont.woff2?t=1763040965626') format('woff2'),
    url('../assets/iconfonts/iconfont.woff?t=1763040965626') format('woff'),
    url('../assets/iconfonts/iconfont.ttf?t=1763040965626') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}