@font-face {
  font-family: 'iconfont';  /* Project id 5064721 */
  src: url('//at.alicdn.com/t/c/font_5064721_4njl0xci1mt.woff2?t=1763968838166') format('woff2'),
       url('//at.alicdn.com/t/c/font_5064721_4njl0xci1mt.woff?t=1763968838166') format('woff'),
       url('//at.alicdn.com/t/c/font_5064721_4njl0xci1mt.ttf?t=1763968838166') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}