/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 5064721 */
  src: url('//at.alicdn.com/t/c/font_5064721_u6guhlygp4b.woff2?t=1764600362509') format('woff2'),
       url('//at.alicdn.com/t/c/font_5064721_u6guhlygp4b.woff?t=1764600362509') format('woff'),
       url('//at.alicdn.com/t/c/font_5064721_u6guhlygp4b.ttf?t=1764600362509') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}