@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin commonheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.44rem;
  line-height: 0.44rem;
  background-color: #ffffff;
  text-align: center;
  font-size: 0.16rem;
  color: $content-font-color;
  z-index: 1000;

  -webkit-tap-highlight-color: transparent;
    // 保持统一样式
  -webkit-appearance: none;
  -moz-appearance: none;    // Firefox
  appearance: none;
}

@mixin commonlayout {
  /* 定位 */
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  min-height: calc(100vh - 1.1rem);

  background-color: #f5f5f5;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;    // Firefox
  appearance: none;

  /* 盒模型 */
  padding: 0.6rem 0.18rem 0.7rem;
}